:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.app-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  flex-shrink: 0;
}

nz-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition:
    all 0.3s,
    padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 48px;
  width: 48px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 16px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  font-family:
    Avenir,
    Helvetica Neue,
    Arial,
    Helvetica,
    sans-serif;
  vertical-align: middle;
  letter-spacing: 0.5px;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  flex-shrink: 0;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-content {
  margin: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inner-content {
  padding: 24px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
}
